html {
  font-size: 14px;
}

body {
  background-color: #CC1F2D;
  margin: 0;
  padding: 0;
}

#conteiner-da-vagina {
  margin: auto;
  padding: 3vw;
}

#resposta-balao {
  display: block;
  background-image: url('imgs/balao.png');
  background-size: 100% 100%;
  max-width: 60vw;
  padding: 3vh 2vh 11vh;
}

@media (min-width: 600px) {
  #resposta-balao {
    max-width: 45vw;
  }
}

#resposta-texto {
  color: #FFF6D5;
  margin: 0;
  text-align: center;
  font: 800 5vh 'Comfortaa', cursive;
}

#vagina {
  position: fixed;
  top: 33%;
  left: 50%;
  margin-left: -42px;
  margin-top: 3vh;
  width: 84px;
  height: 143px;
  background-image: url('imgs/mqv-ciclo-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

@media (min-width: 600px) {
  #vagina {
    margin-left: -85px;
    width: 169px;
    height: 287px;
    background-image: url('imgs/mqv-ciclo.svg');
  }
}

.carregando-conselho {
  animation: mexe-vagina 0.5s steps(5);
}

@keyframes mexe-vagina {
  from {background-position: 0}
  to {background-position: -422px}
}

@media (min-width: 600px) {
  @keyframes mexe-vagina {
    from {background-position: 0}
    to {background-position: -843px}
  }
}

.share-container {
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin-bottom: 11.5vh;
  display: block;
  width: 10vh;

  background-color: rgba(0,0,0,0);
  padding: 1vh;
}
.share-container a {
  display: block;
}
.share-container a+a {
  margin-top: 1.5vh;
}
.share-container img {
  display: block;
  width: 100%;
}
