html {
  font-size: 14px;
}

body {
  background-color: #CC1F2D;
  margin: 0;
  padding: 0;
}

#resposta-balao {
  display: none;
  background-image: url('imgs/balao.png');
  background-size: 100% 100%;
  max-width: 50%;
  min-height: 128px;
  max-height: 200px;
  padding: 8px;
  padding-top: 12px;
}

#resposta-texto {
  margin: 0;
  text-align: center;
  font: 900 80px/1 'Patrick Hand';
}

#vagina {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 184px;
  height: 328px;
  background-image: url('imgs/mqv-ciclo.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.carregando-conselho {
  animation: mexe-vagina 2s steps(5);
}

@keyframes mexe-vagina {
  from {background-position: 0}
  to {background-position: -918px}
}



.share-container {
  display: block;
  position: fixed;
  width: 3.6rem;
  left: 0;
  top: -128px;
  z-index: 400;

  background-color: rgba(0,0,0,0);
  padding: 0 0.6rem;
  transition: top 0.5s linear;
}
.share-container a {
  display: block;
}
.share-container a+a {
  margin-top: 1.14rem;
}
.share-container img {
  display: block;
  width: 100%;
}

.loader-spinner {
  display: block;
  width: 20%;
  max-width: 100px;
  min-width: 64px;
  animation: spin 1.8s linear infinite;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
